
@{
    ViewData["Title"] = "Voortgang";
    // Progress View Data kan uit de Sesion Controller worden meegegeven
    //via Html.PartialAsync("Progress",
    //new ViewDataDictionary(this.ViewData) { {"Progress", progressObject.getSessionProgress()}})
}

<div>
    <h3></h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success"
             aria-valuemin="0" aria-valuemax="100"
             aria-valuenow="@($"width: {ViewData["Progress"]}%")"
             style="@($"width: {ViewData["Progress"]}%")"  role="progressbar">
        </div>
    </div>
</div>


