html {
    overflow-x: hidden !important;
}

footer {
    position: fixed;
    bottom: 0;
    left: 5%;
    font-size: large;
    color: white;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white !important;
}

.loginFix {
 margin-top: 20%;
    margin-left: 34%;
    text-align: center;
}

.liButton {
    width: 200px;
    font-weight: 600;
}

.kader {
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    width: 35%;
    top: 40%;
    left: 32.5%;
    position: absolute;
    /*shadows*/
    -webkit-box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
}
.wGroupsB {
    margin: 10px;
}

.zelfde {
    width: 250px !important;
    text-align: center;
    margin-top: 10px;
}

.progress {
    margin-top: 5%;
}

.sc {
    margin-top: 28%;
    margin-left: 44.5%;
    color: white;
}

.inpf {
    margin-left: 42%;
    color: black !important;
}

.btnf {
    margin-left: 46%;
    margin-top: 1%;
    font-weight: 600;
}

.navbar {
    background: none;
    border-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.logo {
    width: 200px;
    height: auto;
}





#pot {
    position: absolute;
    top: 20%;
    -webkit-animation: linear infinite normal;
    -webkit-animation-name: run;
    -webkit-animation-duration: 15s;
}

@-webkit-keyframes run {
    0% {
        left: -20%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 300%;
    }
}

#pot2 {
    position: absolute;
    top: 20%;
    -webkit-animation: linear infinite normal;
    -webkit-animation-name: lrun;
    -webkit-animation-duration: 15s;
}

@-webkit-keyframes lrun {
    0% {
        right: -200%;
    }

    50% {
        right: -50%;
    }

    100% {
        right: 200%;
    }
}

.fixer {
    margin-left: 45%;
    margin-top: 8%;
}

.firsth2 {
    text-align: center;
    margin: 30px;
    color: white;
}

.opdrachtNaamf {
    text-align: center;
    margin-top: 8%;
    width: 100%;
    margin: auto;
}

.sessiesGoedzetten {
    margin-top: 10%;
}

#pdf {
    margin-left: -15%;
    margin-top: 5%;
}

.formEx {
    /*margin-left: 45%;*/
    margin-top: 50%;
}

.actiesFix {
    /*margin-top: 15%;*/
    text-align: center;
}
.sessieDetailFix {
    margin-top: 8%;
    margin-left: 32.5%;
    margin-bottom: 3%;
}
.groupsFix {
    border: 1px solid black;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.overlay {
    position: absolute;
    background: yellow;
}

.groupselected {
    opacity: 0.4;
}

.groupnotselected {
}

.boxedArea {
    margin-top: 10%;
    padding: 20px;
    border-style: solid;
    border-color: rgb(201, 202, 204);
    border-width: 1px;
    -webkit-box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    border-radius: 10px;
}

.grouplist > .groupparent:nth-child(odd) {
    clear: both;
}

.groupparent {
   /* clear: left;*/
    float: left;
    display: inline-block;
}

.game {
    margin-left: 12.5%;
}

.groupName {
    text-align: center;
    font-size: 1.5em;
}

.loginLeerkracht {
    margin-top: 20% !important;
    font-size: 1.2em;
}

.group {
    padding: 20px;
    border-style: solid;
    border-color: rgb(201, 202, 204);
    border-width: 1px;
    margin: 20px;
    box-sizing: border-box;
    background-color: rgba(180, 185, 193,0.3);
    border-radius: 10px;
}

.groupnotselected:hover {
    -moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -o-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.03);
}

.groupmemberlist {
    padding-left: 15px;
    padding-top: 10px;
}

.groupimg {
    max-width: 100%;
    max-height: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
div.card-body {
    color: black;
}
div.card {
    padding-bottom: 10px;
}
.btn-space {
    margin-right: 5px;
}

.form-inlineblock {
    display: inline-block;
}

.loginlinks {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 0px;
    border-style: solid;
    border-color: rgb(201, 202, 204);
    border-width: 1px;
    -webkit-box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 20px -1px rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}